<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="log" href="/tabs/log">
      <ion-icon class="normal" aria-hidden="true" name="navigate-outline"></ion-icon>
      <ion-icon class="selected" aria-hidden="true" name="navigate"></ion-icon>
      <ion-label>Log</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon class="normal" aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-icon class="selected" aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
