<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
      </ion-buttons>
      <ion-title>Export Data</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="vcenter ion-padding">
    <ion-button expand="block" (click)="doExport()">Export Data</ion-button>
    <ion-note color="medium" class="ion-margin-horizontal">
      <p>Your data will be downloaded as a CSV file.  Each row is one log entry.
        The columns are:</p>
      <ol>
        <li><code>datetime</code>: RFC 3339 timestamp with your local offset at
          time of logging (not UTC)</li>
        <li><code>latitude</code>: Latitude coordinate (decimal)</li>
        <li><code>longitude</code>: Longitude coordinate (decimal)</li>
        <li><code>country</code>: The country name</li>
        <li><code>level1</code>: The state or province name (in technical terms,
          "administrative division level 1" for each country)</li>
      </ol>
    </ion-note>
  </div>
</ion-content>
